body{
	border: 2px solid black;
}

#one{
	background-color: #cce6ff;
}

#welcome-section{
	text-align: center;
	font-family: serif;
	font-size: 25pt;
}

h2{
	font-size: 15pt;
	font-family: monospace;
}

#two{
	background-color: #adebad;
}

#projects{
	text-align: center;
	font-family: lucida handwriting;
	font-size: 25pt;
}

#tpp{
	border: 2px solid gray;
	font-size: 20pt;
	font-family: serif;
	padding: 5px;
}	

li{
	list-style-type: none;
	float: right;
	padding: 10px;
	border: 2px solid;
	background-color: #ff9966;
	margin-right: 50px;
	margin-top: 20px;
	font-size: 15pt;
}

#three{
	background-color: #f2ccff;
}

#profile-link{
	font-size: 25pt;
	font-family: lucida console;
	text-align: center;
}


@media screen and (min-width: 480px){
	#one, #two, #three {
		width: 84%;
		padding:8%;
	}
}